$main: #FF6148
$second: #1F2633
$input: #D9D9D9
$bg: #16191E

@mixin center()
    display: flex
    align-items: center
    justify-content: center

.filled
    background-color: $main

.border
    border: 3px solid $main
